<ion-header>
  <ion-toolbar>
    <ion-title mode="ios">Juego del Gato 😸</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="victoria" src="https://i.gifer.com/origin/1a/1af8d3b487b77085d5288814f151e1de.gif">
  <div class="encabezado">
    <span>Gato</span>
    <div class="reglas">
      <span class="titulo">Instrucciones</span>
      <span class="texto">Toca los símbolos <ion-icon style="color:darkkhaki;" name="medical"></ion-icon> para poder rellenarlo con un <ion-icon style="color:aquamarine;" name="ellipse-outline"></ion-icon> en caso de ser el jugador 1, o con un <ion-icon style="color:tomato;" name="close-outline"></ion-icon> en caso de ser el jugador 2.</span>
    </div>
  </div>
  <div class="tablero">
    <span class="turno">Turno del <span class="turno-jugador-{{turno}}">Jugador {{turno}} (<ion-icon name="{{icono}}"></ion-icon>)</span></span>
    <div class="tabla">
      <section class="columna">
        <div (click)="seleccionarCasilla(0, 0, $event)" class="col-item unselected" id="1">
          <ion-icon size="large" class="icono-jugador-{{tablero[0][0]}}" name="{{iconosTablero[0][0]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(0, 1, $event)" class="col-item unselected" id="2">
          <ion-icon size="large" class="icono-jugador-{{tablero[0][1]}}" name="{{iconosTablero[0][1]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(0, 2, $event)" class="col-item unselected" id="3">
          <ion-icon size="large" class="icono-jugador-{{tablero[0][2]}}" name="{{iconosTablero[0][2]}}"></ion-icon>
        </div>
      </section>
      <section class="columna">
        <div (click)="seleccionarCasilla(1, 0, $event)" class="col-item unselected" id="4">
          <ion-icon size="large" class="icono-jugador-{{tablero[1][0]}}" name="{{iconosTablero[1][0]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(1, 1, $event)" class="col-item unselected" id="5">
          <ion-icon size="large" class="icono-jugador-{{tablero[1][1]}}" name="{{iconosTablero[1][1]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(1, 2, $event)" class="col-item unselected" id="6">
          <ion-icon size="large" class="icono-jugador-{{tablero[1][2]}}" name="{{iconosTablero[1][2]}}"></ion-icon>
        </div>
      </section>
      <section class="columna">
        <div (click)="seleccionarCasilla(2, 0, $event)" class="col-item unselected" id="7">
          <ion-icon size="large" class="icono-jugador-{{tablero[2][0]}}" name="{{iconosTablero[2][0]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(2, 1, $event)" class="col-item unselected" id="8">
          <ion-icon size="large" class="icono-jugador-{{tablero[2][1]}}" name="{{iconosTablero[2][1]}}"></ion-icon>
        </div>
        <div (click)="seleccionarCasilla(2, 2, $event)" class="col-item unselected" id="9">
          <ion-icon size="large" class="icono-jugador-{{tablero[2][2]}}" name="{{iconosTablero[2][2]}}"></ion-icon>
        </div>
      </section>
    </div>
  </div>
</ion-content>
